*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*btn**/

.btn {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(223, 65, 65);
    color: whitesmoke;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    background-color:rgba(163, 33, 33, 0.808) ;
}
.btn-big{
    width: 15em;
    font-weight: bold;
}

.btn-small{
    padding: 5px;
    margin-top: 10px;
}


body{
    
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
    padding:10px;
    max-width: 100%;
    
}

.container_form{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image:url('./img/background_form.jpg') ;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url('./img/background_form.jpg');
    background-size: cover;
    background-position:center;
    
}

.container_titulo{
    width:25rem;
    
}

.titulo{
    color: rgb(223, 65, 65);
    font-size: 5em;
    
}

.subtitulo, .lorem{
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgba(41, 3, 3, 0.7) 0%,rgba(240, 16, 16, 0.7) 100%);
    
    
}


.form{
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 35em;
    height: 40em;
    color: white;
    background-color: rgba(39, 39, 39, 0.466);
    border: solid 1px rgba(122, 30, 30, 0.322);
    
}

.form-control{
    width: 12em;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.671);
    margin-top: 5px;
}



.form_field{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 3px;
    
}

.horas{
    display: flex;
    flex-direction: column;
}

.container_lista{
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
    
}

.container_itinerario{
    display: flex;
    width: 100%;
    align-items:center;
    padding: 10px;
    justify-content:center;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.container_itinerario p {
    padding: 5px;
    font-size: 1em;
    font-weight: bold;

}

.container_tipo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 10px;
    
}

.tipo_card_car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}

.tipo_card_car:hover{
    background-color: rgb(153, 65, 65);
    color: whitesmoke;
}


.container_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90%;
    
}

.listado_coches{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    
}

.tipo_cards_img{
    width: 15em;
}


.card_car{
    background-color: rgb(33, 34, 36);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:1em;
    margin-bottom: 2em;
    color: whitesmoke;
    width: 30.25em;
    
}



.img_card{
    width: 15.625em;
    height: 10em;
    padding: 1.25em;
    
}

.container_datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;
    color: rgba(0, 0, 0, 0.76);
    
}

.datos_card_car{
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding:2px;
    width: 12.5em;
    font-size: .8em;
    
}

.datos_card_car li {
    margin-bottom: .3125em;
    padding:.25em;
    list-style: none;
    
    
}

.datos_card_car h4{
    
    padding: .25em;
}

.plazas{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: .3125em;
}

.precio{
    padding: .225em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   font-size: .8em;
    
}

.precio p {
    
    margin-top: .125em;
    text-align: center;
}

.precios{
    font-weight: bold;
}

.error_validate{
    
    padding: .3125em;
    margin: 0;
    color: rgb(182, 5, 40);
    
}